@keyframes tetrix {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.animation-tetrix {
  animation: tetrix 8s ease-in running forwards;
}

.stage {
  background: linear-gradient(0deg, #e3ffe7 0%, #d9e7ff 100%);

  overflow: hidden;
  border: 10px solid #6882b8;
  border-radius: 15px;
}

.word-sprite {
  position: absolute;
  display: block;
  font-size: 4rem;
  font-weight: 700;

  user-select: none;
  background-color: transparent;
}

$color-masculine: #3c82ea;
$color-feminine: #cd2626;
$color-neutrum: #0f9c8c;

.bg-masculine {
  background-color: $color-masculine;
  &:hover, &:active {
    background-color: lighten($color-masculine, 20%) !important;
  }
}

.bg-feminine {
  background-color: $color-feminine;
  &:hover, &:active {
    background-color: lighten($color-feminine, 20%) !important;
  }
}

.bg-neutrum {
  background-color: $color-neutrum;
  &:hover, &:active {
    background-color: lighten($color-neutrum, 20%) !important;
  }
}

.mt-50p {
  margin-top: 50%;
}

@media (min-width: 576px) {
  .fs-4 {
    font-size: 3rem !important;
  }

  .fs-5 {
    font-size: 2.1rem !important;
  }
}
