@keyframes tetrix {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.animation-tetrix {
  animation: tetrix 8s ease-in running forwards;
}

.stage {
  background: linear-gradient(0deg, #e3ffe7 0%, #d9e7ff 100%);

  overflow: hidden;
  border: 10px solid #6882b8;
  border-radius: 15px;
}

.word-sprite {
  position: absolute;
  display: block;
  font-size: 4rem;
  font-weight: 700;

  user-select: none;
  background-color: transparent;
}

$color-masculine: #3c82ea;
$color-feminine: #cd2626;
$color-neutrum: #0f9c8c;

.bg-masculine {
  background-color: $color-masculine;
  &:hover, &:active {
    background-color: lighten($color-masculine, 20%) !important;
  }
}

.bg-feminine {
  background-color: $color-feminine;
  &:hover, &:active {
    background-color: lighten($color-feminine, 20%) !important;
  }
}

.bg-neutrum {
  background-color: $color-neutrum;
  &:hover, &:active {
    background-color: lighten($color-neutrum, 20%) !important;
  }
}

.mt-50p {
  margin-top: 50%;
}

@media (min-width: 576px) {
  .fs-4 {
    font-size: 3rem !important;
  }

  .fs-5 {
    font-size: 2.1rem !important;
  }

  .display-1 {
    font-size: calc(1.625rem + 4.5vw) !important;
  }
}

.hidden-boxes {

}

.input-group.hangman-hidden-word {
  justify-content: center;

  .form-control {
    flex: 4rem 0 0;
    text-transform: uppercase;
    text-align: center;

    &:disabled {
      background-color: var(--bs-cyan);
    }
    &.wrong {
      color: crimson;
      font-weight: 700;
    }
  }
}

.gallow {
  position: relative;
  transform: scale(3.5);
  transform-origin: 0 0;
  width: 0;
  margin: auto;

  > div {
    display: block;
    position: absolute;
    background-color: black;

    transition: all 1s ease-in;
  }
}

.gallow-noose {
  width: 1px;
  height: 20px;
  left: 15px;
}

.gallow-head {
  width: 20px;
  top: 24px;
  height: 20px;
  border-radius: 50%;
  left: 7px;

  &::before, &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  &::before {
    left: 3px;
    top: 5px;
  }
  &::after {
    left: 10px;
    top: 5px;
  }

  .gallow.dead & {
    &::before, &::after {
      background-color: #999;
      transform: scale(0.1);
      transform-origin: center;
    }
  }
}

.gallow-body {
  width: 10px;
  top: 45px;
  height: 25px;
  left: 12px;
}

.gallow-left-hand {
  width: 5px;
  height: 20px;
  top: 45px;
  left: 6px;
  transform: rotate(15deg);
  transform-origin: top right;

  .gallow.dead & {
    transform: rotate(1deg);
  }
}

.gallow-right-hand {
  width: 5px;
  top: 45px;
  transform: rotate(313deg);
  height: 20px;
  left: 23px;
  transform-origin: left top;

  .gallow.dead & {
    transform: rotate(360deg);
  }
}

.gallow-left-leg {
  width: 5px;
  height: 20px;
  top: 71px;
  left: 11px;
  transform: rotate(12deg);
  transform-origin: top left;

  .gallow.dead & {
    transform: rotate(0);
  }
}

.gallow-right-leg {
  width: 5px;
  height: 20px;
  top: 71px;
  left: 18px;
  transform: rotate(335deg);
  transform-origin: top right;

  .gallow.dead & {
    transform: rotate(360deg);
  }
}

.gallow-dead { }

.keyboard .btn {
  width: 3rem;
  height: 3rem;
  text-transform: uppercase;
}
